.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catList {
  max-width: 1200px;
  width: 100%;
  aspect-ratio: 10 / 6;
  margin: 4rem auto;
}

.catInfo {
  position: absolute;
  top: 2rem;
  left: 4rem;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  background-color: grey;
  opacity: 80%;
  gap: 0.1rem;
}

.catInfo h2 {
  font-size: 2rem;
  font-weight: bold;
}

.catLink {
  color: white;
}

.imgSlider {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  transition: translate 300ms ease-in-out;
}

.imageSliderBtn {
  all: unset;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}

.imageSliderBtn:hover,
.imageSliderBtn:focus-visible {
  background-color: rgb(0, 0, 0, 0.2);
}

.imageSliderBtn:hover > *,
.imageSliderBtn:focus-visible > * {
  animation: squish 200ms ease-in-out;
}

.imageSliderBtn > * {
  stroke: white;
  fill: grey;
  width: 2rem;
  height: 2rem;
}

.imgSlideDotBtn {
  all: unset;
  display: block;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  transition: scale 100ms ease-in-out;
}

.imgSlideDotBtn:hover,
.imgSlideDotBtn:focus-visible {
  scale: 1.2;
}

.imgSlideDotBtn > * {
  stroke: white;
  fill: grey;
  height: 100%;
  width: 100%;
}

.imgSlideDotBtn:focus-visible,
.imageSliderBtn:focus-visible {
  outline: auto;
}

@keyframes squish {
  50% {
    scale: 1.4 0.6;
  }
}

.botHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 2rem;
  /* clip-path: polygon(0 0, 50% 50px, 100% 0, 100% 100%, 0 100%);
  margin-top: -40px; */
  background-color: grey;
  width: 100%;
  color: white;
  gap: 0.5rem;
}

.botHome h2 {
  font-size: 2rem;
  font-weight: bold;
}

.est {
  font-style: italic;
}

.postSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 8rem;
  gap: 3rem;
  padding: 5rem;
}

.postSection div {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.postSection div h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.generalBtn {
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  background-color: grey;
  border-radius: 10px;
  opacity: 80%;
  border: none;
  font-size: 1rem;
}

.generalBtn:hover {
  background-color: #555;
}

.generalBtn:active {
  background-color: black;
}

.adoptingSec {
  background: linear-gradient(to right, grey, orange, skyblue);
  --mask: radial-gradient(49.31px at 50% 67.5px, #000 99%, #0000 101%)
      calc(50% - 50px) 0/100px 51% repeat-x,
    radial-gradient(49.31px at 50% -42.5px, #0000 99%, #000 101%) 50% 25px/100px
      calc(51% - 25px) repeat-x,
    radial-gradient(49.31px at 50% calc(100% - 67.5px), #000 99%, #0000 101%)
      calc(50% - 50px) 100%/100px 51% repeat-x,
    radial-gradient(49.31px at 50% calc(100% + 42.5px), #0000 99%, #000 101%)
      50% calc(100% - 25px) / 100px calc(51% - 25px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.adoptingSec div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 1.5rem;
}

.adoptingSec h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
